html {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background: var(--white-background);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.page-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: clamp(350px, 100vw, 600px);
    padding: 30px;
}

.logo-image
{
    object-fit: contain;
    width: 240px;
    display: block;
}

.employee-register {
    margin-top: 16px;
    font-style: italic;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;
}

.employee-register:hover {
    text-decoration: underline;
}


